/* Ogólne */

body {
	background-image:url("12.jpg");
	background-size: 100% 100%;
    background-color:#FFFFFf;
    color: red;
    margin: 0;
    padding: 0;
    
}

.container {
  width: 150px;
}


/* Nagłówek */

.header {
  background-color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 0px;
  margin-top: 0px;
  }
h2 {text-align:center;}

/* Menu */ 


 .menu {
  float: left;
  list-style: none;
  margin-top: 10px;
  margin-bottom:30px;
  margin-left:80px;
 color:#000;
 background-color:#ffff99;
 border-radius:5px;
 }

.menu > li {
float:right;
  display:block;
border-bottom:1px solid red;
border-radius-bottom-left:2px;
brder-radius-bottom-right:2px;

 
}

.menu a {
  color: #898989;
}

/* Menu rozwijalne */

.dropdown-menu {
	float:right;
  font-size: 12px;
  z-index:1;

}
.dropdown-menu-two{
	float:left;
  font-size: 12px;
	 z-index:1;

 }
  
.dropdown-menu li,.dropdown-menu-two li{
    list-style:none;
}
.dropdown-menu li a, .dropdown-menu-two li a {
  color: red;
  padding:0px 0px 0px 0px;
  margin-top:30px;
  text-align:center;
  font-weight: 200;
  
}

a:link {
     text-decoration:none;
     color:red;
}

a:hover {
     color:#5ce0ff;
     font-weight:bolder;
 }
 
a:visited {
     color:#8F1140;
 }
 #Tresc {
    z-index:-1;
    background-color:#FFFFFF;
    background-size:100% 100%; 
    ;
    
    } 
    #stopka{
    margin:auto;
    width:100%;
    height:auto;
    background-color:#fffff2;
    font-family:Arial;
    font-size:8px;
    text-align:center;
    z-index:1;
    
}
#map {
	height:600px;
	width:80%;
	margin-left:160px;
}
